portfolio/Multi-Agent Research & Report (2).json
{
  "name": "Multi-Agent Research & Report",
  "nodes": [
    {
      "parameters": {},
      "id": "c58f976a-20d3-4bf8-93b3-0f83ca2a507b",
      "name": "Start Research",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research the following topic and gather recent, credible information from multiple independent sources: {{ $json.topic }}\n\nFor each key finding, note the source URL. Focus on information from the last 6 months. Gather at least 5-7 distinct facts or insights from different sources.",
        "options": {
          "systemMessage": "You are a research specialist. Your job is to gather recent, credible information about topics using the Perplexity Search tool. Always cite your sources with URLs. Focus on finding information from multiple independent sources. Present your findings in a structured format with each fact clearly attributed to its source URL."
        }
      },
      "id": "d629e528-51fd-473d-bcfc-5ea58ecd668f",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "65a109b9-64f7-47e2-a4ba-5400c362ba3e",
      "name": "GPT-4.1-Mini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        480,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "dHo9qqlKnF6yWy5D",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "returnRelatedQuestions": true,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "id": "d982966e-cf34-4b42-b56c-61a6ecc744f8",
      "name": "Perplexity Search",
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 2,
      "position": [
        608,
        624
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review the following research findings and verify each fact:\n\n{{ $json.output }}\n\nFor each fact, use the Perplexity Search tool to check if it appears in at least TWO independent sources. A fact is only \"verified\" if you can confirm it in 2+ different, credible sources. Return your analysis in the structured format.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a fact-checking specialist. Your job is to verify information by finding at least 2 independent sources for each claim. Use the Perplexity Search tool to search for each fact. Mark a fact as verified ONLY if you find it confirmed in at least 2 different, independent sources. For each verified fact, list the source URLs. For unverified facts, explain why (e.g., \"only found in one source\" or \"conflicting information\")."
        }
      },
      "id": "b6700c35-e7d0-47e9-92b0-0d1dbdbe103b",
      "name": "Fact-Checking Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        400
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "verifiedFacts": [
            {
              "fact": "AI diagnostic tools show 95% accuracy",
              "verified": true,
              "sources": [
                "https://example.com/source1",
                "https://example.com/source2"
              ],
              "confidence": "high"
            }
          ],
          "unverifiedFacts": [
            {
              "fact": "Some claim that was not verified",
              "reason": "Only found in one source"
            }
          ]
        }
      },
      "id": "96d53576-e4a9-4614-bb49-d099eb044477",
      "name": "Fact Check Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        624
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a clear, well-structured report based on these verified facts:\n\n{{ $json.output }}\n\nCreate a comprehensive report under 1,000 words that:\n1. Has a compelling title\n2. Includes an executive summary\n3. Organizes the verified facts into logical sections\n4. Provides context and analysis\n5. Includes a conclusion\n6. Cites sources appropriately\n\nWrite in a professional, accessible style. Do not include unverified facts.",
        "options": {
          "systemMessage": "You are a professional report writer. Create clear, well-organized reports that synthesize verified information into compelling narratives. Use proper structure with headings, maintain a professional tone, and ensure the content is under 1,000 words. Always cite sources. Focus only on verified information."
        }
      },
      "id": "7d0b45b6-7674-4b87-9d6e-1a94afda8bfd",
      "name": "Report Writer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1168,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert this report into clean, professional HTML suitable for email:\n\n{{ $json.output }}\n\nCreate well-formatted HTML with:\n1. Proper heading hierarchy (h1, h2, h3)\n2. Clean typography and spacing\n3. Professional styling (use inline CSS for email compatibility)\n4. Proper paragraph breaks\n5. Formatted lists where appropriate\n6. Clickable source links\n7. A professional color scheme (blues/grays)\n\nReturn ONLY the HTML body content (no <html> or <body> tags needed), ready to insert into an email.",
        "options": {
          "systemMessage": "You are an HTML email formatting specialist. Convert markdown or plain text reports into beautiful, professional HTML suitable for email clients. Use inline CSS for styling. Ensure proper spacing, readable fonts, and a clean layout. Make links clickable. Use a professional color palette. Return only the HTML content without wrapper tags."
        }
      },
      "id": "1f8512a9-f29f-4b47-87a0-bc3036dc5ab9",
      "name": "HTML Formatting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1520,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__recipient@example.com__>",
        "subject": "=Research Report: {{ $(\"Start Research\").item.json.topic }}",
        "message": "={{ $json.output }}",
        "options": {
          "senderName": "AI Research Team"
        }
      },
      "id": "5cd6ec1d-44e7-49e3-950e-01c56dc892d8",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1872,
        400
      ],
      "webhookId": "c689d8f7-78a7-42ce-998f-ca91d13085bf"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Research": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-Mini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Fact-Checking Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Report Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "HTML Formatting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Search": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Fact-Checking Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fact-Checking Agent": {
      "main": [
        [
          {
            "node": "Report Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fact Check Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fact-Checking Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Report Writer Agent": {
      "main": [
        [
          {
            "node": "HTML Formatting Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Formatting Agent": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e627a4b0-b5e9-4f14-bcec-d61948ffa33d",
  "meta": {
    "instanceId": "f86346cfcbed8d9e7d8aec3097bb7b07c204c5a7ea70fec6ebc2f3d192fc7a1e"
  },
  "id": "ZfmoFMeEFqXeO9Rq",
  "tags": []
}